header{
    background-color: var(--primer-color);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Raleway', sans-serif;
}

header .logotipo{
    font-size: 50px;
    color: var(--logotipo-color);
}

header .menu-cabecera a{
    text-decoration: none;
    font-weight: 600;
    margin-right: 30px;
    margin-left: 30px;
    color: var(--links-menu);
}

header .menu-cabecera a:hover{
    color: var(--btn-colo-login);
}

header .menu-cabecera a.btn-login{
    color: var(--btn-colo-login);
    border-radius: 10px;
    border: 2px solid var(--btn-colo-login);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

header .menu-cabecera a.btn-login:hover{
    color: var(--links-menu);
    border: 2px solid var(--links-menu);
}
