@media screen and ( max-width: 1024px ){
    header {
        background-color: blue;
    }
    .contenedor-adornos {
        right: inherit;
    }
    .contenedor-buscador {
        bottom: 40%;
    }
    .seccion-audio article {
        width: 800px;
    }
    .seccion-audio article .audio {
        width: 290px;
    }
}