:root{
    --primer-color: #ffce00;
    --segundo-color: #8ad4f9;
    --tercer-color: #fbb03b;
    --cuarto-color: #ce9045;
    --logotipo-color: white;
    --links-menu: white;
    --btn-colo-login: #1683F8;
    --alto-contenedor: 800px;
}
